n8n/workflow.json.reception
{
  "name": "you_worknamespace",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3840,
        2048
      ],
      "id": "3d043aac-11f4-4805-912e-32e9f9d1ffb6",
      "name": "OPENAI 4.1 MINI1",
      "credentials": {
        "openRouterApi": {
          "id": "JT8ftpvrsdGI1013",
          "name": "xxx"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3664,
        2064
      ],
      "id": "e537a799-0ae9-472d-b260-1959def9de69",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed4c7847-6cd3-4967-961f-8432dc9fc8f0",
              "leftValue": "={{ $json.output.escalation }",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        4720
      ],
      "id": "b82e564a-091d-41e9-b6e9-40728cc94720",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a63122b-d853-4518-a67b-08d80d5fd377",
              "name": "Summary",
              "value": "=Reason: {{ $('Complaint').item.json.output.reason }} &&  \n\nAi Reply: {{ $('Complaint').item.json.output.ai_reply }} &&\n\nPhone number customer{{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        4512
      ],
      "id": "1e8e8bb1-e557-45a6-b338-51b3e6915da9",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a63122b-d853-4518-a67b-08d80d5fd377",
              "name": "Output",
              "value": "={{ $json.output.ai_reply }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        4896
      ],
      "id": "0fc39d3f-f958-48b2-a75e-9f4eb8943d88",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "amount": "={{ 7 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        4512
      ],
      "id": "78377416-d3b2-4138-87a1-c8da2446cb3e",
      "name": "Wait7",
      "webhookId": "996e5161-ba71-4b2b-a3fc-a0c30d80f078"
    },
    {
      "parameters": {
        "amount": "={{ 7 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        704,
        4896
      ],
      "id": "81c93d48-bf23-4a1c-a160-0648ec4af20a",
      "name": "Wait8",
      "webhookId": "996e5161-ba71-4b2b-a3fc-a0c30d80f078"
    },
    {
      "parameters": {
        "content": "## Human Take over",
        "height": 320,
        "width": 1104,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        4432
      ],
      "typeVersion": 1,
      "id": "d35400db-79ed-41ff-947e-e6bc7c6b950a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI Take an Action",
        "height": 320,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        4800
      ],
      "typeVersion": 1,
      "id": "d3e93d99-2d7e-45e7-800e-b3b0d88e865b",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -384,
        64
      ],
      "id": "565052be-dae0-4ce7-b2ac-493dc4a1c9e9",
      "name": "Wait9",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"decoration_intent_parser\",\n  \"description\": \"Parse user messages into a single decoration-related intent with structured fields\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"intent\": {\n        \"type\": \"string\",\n        \"description\": \"Single intent only\",\n        \"enum\": [\n          \"availability_check\",\n          \"booking_request\",\n          \"reschedule_event\",\n          \"cancel_booking\",\n          \"complaint\",\n          \"general_question\"\n        ]\n      },\n      \"event_type\": {\n        \"type\": [\"string\", \"null\"],\n        \"description\": \"Type of event such as aqiqah, wedding, birthday\"\n      },\n      \"event_date\": {\n        \"type\": [\"string\", \"null\"],\n        \"description\": \"Event date in YYYY-MM-DD format\"\n      },\n      \"client_name\": {\n        \"type\": [\"string\", \"null\"],\n        \"description\": \"Client name if mentioned\"\n      },\n      \"package_name\": {\n        \"type\": [\"string\", \"null\"],\n        \"description\": \"Decoration package name if mentioned\"\n      },\n      \"partner_names\": {\n        \"type\": [\"string\", \"null\"],\n        \"description\": \"Names of partners for engagement or wedding\"\n      },\n      \"baby_name\": {\n        \"type\": [\"string\", \"null\"],\n        \"description\": \"Baby name for aqiqah events\"\n      },\n      \"urgency\": {\n        \"type\": \"string\",\n        \"enum\": [\"low\", \"medium\", \"high\"]\n      },\n      \"confidence\": {\n        \"type\": \"number\",\n        \"minimum\": 0,\n        \"maximum\": 1\n      }\n    },\n    \"required\": [\n      \"intent\",\n      \"urgency\",\n      \"confidence\"\n    ],\n    \"additionalProperties\": false\n  }\n}\n",
        "autoFix": "={{ false }}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3888,
        1776
      ],
      "id": "c8b36173-b3eb-4dd1-a942-b55a4d505c5a",
      "name": "Ouput Intent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7502262-9aaa-4b4c-9cc6-8813d46c39c4",
              "name": "text",
              "value": "={{ $('Booking Handling').item.json.output.ai_reply.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        2384
      ],
      "id": "e271a549-03f4-42f2-8959-812357c9cf48",
      "name": "text"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1168,
        2112
      ],
      "id": "47a0d4bb-f0eb-4777-b255-28c4eda40e0c",
      "name": "Wait10",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -848,
        4720
      ],
      "id": "6b57f64f-3ecb-422c-a92b-a187e8ff962a",
      "name": "Wait11",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        432,
        64
      ],
      "id": "a5f8ad2e-e83a-41b8-af6a-a8c5513da286",
      "name": "Wait",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "delay": "={{ Math.floor($json.text.split(\" \").length / 3)*1000 + Math.floor(Math.random() * (5 - 2 + 1) + 2)*1000 }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        784,
        64
      ],
      "id": "a6fb54e0-78ae-4370-b75e-4593360b2aed",
      "name": "Send presence1",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=use this to send pricelist engagement/lamaran",
        "documentId": {
          "__rl": true,
          "value": "1DwH7fyzgmgLC-9K1ANqDNlNU29RtqkWtWLaI2Fu_3Hs",
          "mode": "list",
          "cachedResultName": "Pricelist dekor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DwH7fyzgmgLC-9K1ANqDNlNU29RtqkWtWLaI2Fu_3Hs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 454078633,
          "mode": "list",
          "cachedResultName": "Engagement Package",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DwH7fyzgmgLC-9K1ANqDNlNU29RtqkWtWLaI2Fu_3Hs/edit#gid=454078633"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        112,
        192
      ],
      "id": "44eceb48-15d0-48e2-b92b-c3a926d537f0",
      "name": "Price Engagement",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this to send pricelist aqiqah",
        "documentId": {
          "__rl": true,
          "value": "1DwH7fyzgmgLC-9K1ANqDNlNU29RtqkWtWLaI2Fu_3Hs",
          "mode": "list",
          "cachedResultName": "Pricelist dekor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DwH7fyzgmgLC-9K1ANqDNlNU29RtqkWtWLaI2Fu_3Hs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Aqiqah Package",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DwH7fyzgmgLC-9K1ANqDNlNU29RtqkWtWLaI2Fu_3Hs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        208,
        192
      ],
      "id": "5657daf8-79ff-4f14-a486-653c0d89df4c",
      "name": "Aqiqah Price",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this to send pricelist Birthday",
        "documentId": {
          "__rl": true,
          "value": "1DwH7fyzgmgLC-9K1ANqDNlNU29RtqkWtWLaI2Fu_3Hs",
          "mode": "list",
          "cachedResultName": "Pricelist dekor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DwH7fyzgmgLC-9K1ANqDNlNU29RtqkWtWLaI2Fu_3Hs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414117641,
          "mode": "list",
          "cachedResultName": "Birthday Package",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DwH7fyzgmgLC-9K1ANqDNlNU29RtqkWtWLaI2Fu_3Hs/edit#gid=414117641"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        304,
        192
      ],
      "id": "4c138d81-1d37-4874-9289-7636061fe613",
      "name": "Birthday Price",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7502262-9aaa-4b4c-9cc6-8813d46c39c4",
              "name": "text",
              "value": "={{ $('General').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        64
      ],
      "id": "88ee8b4b-55f8-46b7-8187-2ce934db2d44",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## AI Take an Action",
        "height": 304,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "01567cf0-df0b-47f5-bec1-0e6caa836438",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## AI Take an Action",
        "height": 320,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        4688
      ],
      "typeVersion": 1,
      "id": "1b3ca890-9a5f-45a5-ac0d-33b9d69ba8a0",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        2384
      ],
      "id": "8e5f7336-14c8-44e0-b3d3-dd110e7af1e6",
      "name": "Delay",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        16,
        192
      ],
      "id": "44a66d8b-9160-4994-8a10-f02e9371fdd0",
      "name": "Gemini 2.5 flash",
      "credentials": {
        "openRouterApi": {
          "id": "JT8ftpvrsdGI1013",
          "name": "xxx"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intent\": {\n    \"booking_approved\": false\n  },\n  \"customer_data\": {\n    \"customer_name\": \"\",\n    \"event_type\": \"\",\n    \"event_date\": \"\",\n    \"package_name\": \"\",\n    \"address\": \"\",\n    \"request\": \"\",\n    \"baby_name\": \"\",\n    \"partner_names\": \"\",\n    \"phone_number\": \"\",\n    \"lock_date\": \"\"\n  },\n  \"ai_reply\": {\n    \"message\": \"\",\n    \"next_action\": \"ready_for_booking\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        0,
        2256
      ],
      "id": "04e2acc9-e01f-4e22-9f3b-e2f4647fb825",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14feb4b4-3f70-4ff5-a158-4c697f9dd5d6",
              "name": "Message",
              "value": "={{ $node[\"Webhook\"].json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        2112
      ],
      "id": "97124458-3894-4ee3-afe0-35747625da6e",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "='{{ $('Webhook').item.json.body.data.key.remoteJid }}'",
        "contextWindowLength": 300
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4032,
        2064
      ],
      "id": "33dd79af-e145-46e3-8d08-46debdaaf405",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET\n  active_intent = '{{ $json.final_intent }}',\n  intent_lock = true,\n  booking_active = true,\n  step = 'start',\n  updated_at = NOW()\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2496,
        1600
      ],
      "id": "a0ccf9d9-d471-4fba-92fb-b5f6efb74c33",
      "name": "Update",
      "credentials": {
        "postgres": {
          "id": "0On6RquQkMdJ942w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cdbdb299-35c4-4cce-bb27-e20a5a7637b9",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4992,
        1600
      ],
      "id": "a44ce1e0-5533-4dd7-8fa4-e89fe77b899d",
      "name": "logical number"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b274aec9-7c20-49ef-a07a-08e8c2624fac",
              "leftValue": "={{ $json.intent_lock }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4784,
        1872
      ],
      "id": "9bea773d-8dcf-4fd9-bdad-e574e15772ef",
      "name": "Logical Intent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.final_intent }}",
                    "rightValue": "=product_inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5df37740-eccc-43b6-bdea-77c3e4c6efe7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=product_inquiry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4714f076-a7b8-45a8-9674-9affddd8ebf4",
                    "leftValue": "={{ $json.final_intent }}",
                    "rightValue": "=availability_check",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "availability_check"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4cfb1162-851e-484b-82c3-73f9acbf9c6c",
                    "leftValue": "={{ $json.final_intent }}",
                    "rightValue": "=booking_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "booking_request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8952f6ac-b286-4727-bde1-0bbe2b4297d2",
                    "leftValue": "={{ $json.final_intent }}",
                    "rightValue": "=reschedule_event",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reschedule_event"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7435fb8-6ea5-40dd-8ef4-91a8b737deb8",
                    "leftValue": "={{ $json.final_intent }}",
                    "rightValue": "=cancel_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel_booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a84d2f1a-4921-4cf1-bedc-b4736308da49",
                    "leftValue": "={{ $json.final_intent }}",
                    "rightValue": "=complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complaint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b76b6ccf-3161-4821-b20b-4b3d2b6b4425",
                    "leftValue": "={{ $json.final_intent }}",
                    "rightValue": "=general_question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "general_question"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2080,
        1824
      ],
      "id": "d0a5686c-d60f-41ba-955e-b40cae5a4c2d",
      "name": "classfy",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41c1d16e-91c4-4e00-a816-5165febbbf79",
              "name": "text",
              "value": "={{ $json.output.ai_reply }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        1344
      ],
      "id": "8a46f51b-0859-4e85-a9cc-92223f431b32",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69c18453-f3e6-45d8-8c7e-b56ae342c333",
              "name": "next_action",
              "value": "=cancellation_completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        3120
      ],
      "id": "403b7d92-b9e4-4b17-8071-329a4b280b08",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"customer\": {\n    \"name\": \"\"\n  },\n  \"summary_reason\": \"\",\n  \"ai_reply\": {\n    \"message\": \"\",\n    \"next_action\": \"process | cancellation_confirmed | cancellation_completed\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -160,
        3408
      ],
      "id": "413ca15a-16ce-4fe2-a9e3-0469711faf43",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "putrianastasya744@gmail.com",
          "mode": "list",
          "cachedResultName": "putrianastasya744@gmail.com"
        },
        "start": "={{ $('Code in JavaScript').item.json.event_date }}",
        "end": "={{ $('Code in JavaScript').item.json.event_date }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "=Customer name : {{ $('Code in JavaScript').item.json.customer_name }}\n\nJenis acara:{{ $('Code in JavaScript').item.json.event_type }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        976,
        2016
      ],
      "id": "fb9a1387-ff97-4120-b1b4-6527ed56e13b",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eBzMjgL5dTng5cCU",
          "name": "xxx"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1712,
        3120
      ],
      "id": "7f63c536-b91a-4615-bb1b-326a9f6b1651",
      "name": "Wait1",
      "webhookId": "5fd2b679-c744-4053-be33-32d006df7b41"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -848,
        1104
      ],
      "id": "ca53e914-04ca-4077-bd5b-33cf17e13d71",
      "name": "Wait12",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14feb4b4-3f70-4ff5-a158-4c697f9dd5d6",
              "name": "Message",
              "value": "={{ $node[\"Webhook\"].json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        1104
      ],
      "id": "4ee269fd-5a85-4033-9804-931e8277e94d",
      "name": "Clean Data1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "={{ $('Edit Fields1').item.json.text }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1152,
        1344
      ],
      "id": "de2b1fef-2292-4d53-8b3a-0d32e20b9eeb",
      "name": "Send text3",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -880,
        3264
      ],
      "id": "b0bf4ab3-b6b1-43ee-84fa-cb8ff2fb4f0b",
      "name": "Wait13",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageId": "={{ $node[\"Webhook\"].json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -624,
        3264
      ],
      "id": "ac2ebbe3-3f4f-44f3-82a0-0d40375cf1a5",
      "name": "Mark messages as read4",
      "credentials": {
        "evolutionApi": {
          "id": "hNLgDR4vqDf88t9S",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14feb4b4-3f70-4ff5-a158-4c697f9dd5d6",
              "name": "Message",
              "value": "={{ $node[\"Webhook\"].json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        3264
      ],
      "id": "03cd90fa-f759-43a3-ae4a-5acc329ed10a",
      "name": "Clean Data3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "951f9a33-26bc-425e-b6ed-d9212b5d840e",
              "leftValue": "={{ $('Booking Handling').item.json.output.ai_reply.next_action }}",
              "rightValue": "booking_confirmed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        2112
      ],
      "id": "a3256756-6197-4380-a510-c8a4dd7b035a",
      "name": "If1"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5200,
        1600
      ],
      "id": "04aeb842-9e10-454f-8c72-458ff8c3c7b2",
      "name": "Webhook",
      "webhookId": "50687243-ab18-42d7-82ce-2b9a965e6aff"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageId": "={{ $node[\"Webhook\"].json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -224,
        64
      ],
      "id": "37807bf4-6b26-4b77-8cbd-57a4153fc617",
      "name": "Mark messages as read2",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23cc9f41-4580-44a6-a2a7-790cdb7c4588",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "acb22c9a-50d1-402b-bd18-eef71056367e",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "59214160-da00-49f3-9027-8700404ac4d4",
              "name": "phone",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4768,
        1616
      ],
      "id": "04b8d734-c9ad-4738-97eb-b6d1336a8f0c",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14feb4b4-3f70-4ff5-a158-4c697f9dd5d6",
              "name": "Message",
              "value": "={{ $node[\"Webhook\"].json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        64
      ],
      "id": "5e60ea03-e16f-45f8-aaf1-85395272c9b3",
      "name": "Clean Data4"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "={{ $('Edit Fields').item.json.text }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1008,
        64
      ],
      "id": "2e180101-a634-4772-b508-9224fe114a6c",
      "name": "Send text1",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "delay": "={{ Math.floor($json.text.split(\" \").length / 3)*1000 + Math.floor(Math.random() * (5 - 2 + 1) + 2)*1000 }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        976,
        1344
      ],
      "id": "ef3d2162-cc2b-43b9-95a7-b10ebc68eba9",
      "name": "Send presence4",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageId": "={{ $node[\"Webhook\"].json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -720,
        2112
      ],
      "id": "e1e61ef3-1313-4334-a7a3-66acaaa53293",
      "name": "Mark messages as read",
      "credentials": {
        "evolutionApi": {
          "id": "hNLgDR4vqDf88t9S",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageId": "={{ $node[\"Webhook\"].json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -624,
        1104
      ],
      "id": "ef4a08f3-2edd-4bbb-be8d-5837a712537b",
      "name": "Mark messages as read5",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "={{ $('text').item.json.text }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1440,
        2384
      ],
      "id": "4995a983-02da-419d-b23d-25a8fc2bfe6c",
      "name": "Send text",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "delay": "={{ Math.floor($('text').item.json.text.split(\" \").length / 3)*1000 + Math.floor(Math.random() * (5 - 2 + 1) + 2)*1000 }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1264,
        2384
      ],
      "id": "adaa4322-4edf-494c-97a8-b8ce1407a1d6",
      "name": "Send presence",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4032,
        1776
      ],
      "id": "24ab616b-a74b-4501-a375-dfd69fea8a6d",
      "name": "openai 4.1 mini",
      "credentials": {
        "openRouterApi": {
          "id": "JT8ftpvrsdGI1013",
          "name": "xxx"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -960,
        2112
      ],
      "id": "4f1ef263-9ddb-4b87-9e3b-27adb73ea016",
      "name": "Limit"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageId": "={{ $node[\"Webhook\"].json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -608,
        4720
      ],
      "id": "485e4e8a-ec6b-433a-abca-23babda2c13a",
      "name": "Mark messages as read1",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14feb4b4-3f70-4ff5-a158-4c697f9dd5d6",
              "name": "text",
              "value": "={{ $node[\"Webhook\"].json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        4720
      ],
      "id": "b42c4715-12a3-4170-9958-7cf735270418",
      "name": "Clean Data2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook1').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook1').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $('text').item.json.text }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1168,
        4896
      ],
      "id": "63bd7c10-da52-4206-bd7b-a06c369ebef7",
      "name": "Send text4",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $('Webhook1').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook1').item.json.body.data.key.remoteJid }}",
        "delay": "={{ Math.floor($('text').item.json.text.split(\" \").length / 3)*1000 + Math.floor(Math.random() * (5 - 2 + 1) + 2)*1000 }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        992,
        4896
      ],
      "id": "dc1f72b2-60bd-4c1f-b0f6-125cc0946a4f",
      "name": "Send presence6",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "putrianastasya744@gmail.com",
          "mode": "list",
          "cachedResultName": "putrianastasya744@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', `EXTRACT CUSTOMER NAME AND THEIR EVENT ID AND ALSO  CHECK AVAIBILITY DATE`, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -96,
        1248
      ],
      "id": "738e38fb-7b48-4493-bb7d-2050a9f4b274",
      "name": "GET",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eBzMjgL5dTng5cCU",
          "name": "xxx"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"customer_name\": \"\",\n\"request_date\": \"\",\n\"success\": false,\n\"next_action\": \"\",\n\"ai_reply\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        1248
      ],
      "id": "4ab7fc08-fc66-46b9-a21c-97bef40cb6aa",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d09882d-f6ba-4d54-a694-858e56917b79",
              "leftValue": "={{ $json.output.ai_reply.next_action }}",
              "rightValue": "cancellation_completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        3264
      ],
      "id": "35e22b6e-90f5-4982-a4a1-2f3e50b6ce10",
      "name": "If4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI",
          "mode": "list",
          "cachedResultName": "data client",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nama Customer",
              "lookupValue": "={{ $('Cancel Handling').item.json.output.customer.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        3120
      ],
      "id": "422c1216-b867-4060-a182-0d55dd0ee988",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb77f2ab-6b0f-4208-8d2d-67da94c6e8d0",
              "name": "lock_date",
              "value": "={{ $('Booking Handling').item.json.output.customer_data.event_date }}",
              "type": "string"
            },
            {
              "id": "19a02145-d140-46ea-b3bb-f06313505725",
              "name": "TEXT",
              "value": "={{ $('Booking Handling').item.json.output.ai_reply.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        2016
      ],
      "id": "635b1a4e-64a4-49e6-bb1c-c8e3ca0247ab",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "={{ $('Booking Handling').item.json.output.ai_reply.message }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1184,
        2016
      ],
      "id": "60e0a0d3-70c7-481a-a8be-24c054a14fc2",
      "name": "Send text5",
      "credentials": {
        "evolutionApi": {
          "id": "hNLgDR4vqDf88t9S",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET \n  active_intent = '{{ $json.final_intent }}',\n  updated_at = NOW()\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3328,
        1632
      ],
      "id": "b4a894f3-3b53-4073-b761-81ff29f68f35",
      "name": "ACTIVE INTENT",
      "credentials": {
        "postgres": {
          "id": "0On6RquQkMdJ942w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7502262-9aaa-4b4c-9cc6-8813d46c39c4",
              "name": "text",
              "value": "={{ $json.output.ai_reply.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        3520
      ],
      "id": "58f8fefa-7a7f-43af-843d-1e5d754951f2",
      "name": "text1"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        3520
      ],
      "id": "041885cf-6661-4da4-a4bc-4cf4f456c129",
      "name": "Delay1",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "={{ $('text1').item.json.text }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1856,
        3520
      ],
      "id": "8f0a749f-69a9-4a84-af64-c127fcecc1a1",
      "name": "Send text7",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "delay": "={{ Math.floor($json.text.split(\" \").length / 3)*1000 + Math.floor(Math.random() * (5 - 2 + 1) + 2)*1000 }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1680,
        3520
      ],
      "id": "317baa3c-fc0c-4b3e-a48d-50a1f940dcdd",
      "name": "Send presence3",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ff89ce7-72d8-42d0-acbf-712bc214382e",
              "name": "customer name",
              "value": "={{ $('Code in JavaScript').item.json.customer_name }}",
              "type": "string"
            },
            {
              "id": "be4db08a-5e86-40a1-be51-3fed3b714352",
              "name": "event date",
              "value": "={{ $('Code in JavaScript').item.json.event_date }}",
              "type": "string"
            },
            {
              "id": "cd53c9a5-08a7-4d60-ab03-9c0dcb5b9d02",
              "name": "baby name",
              "value": "={{ $('Code in JavaScript').item.json.baby_name }}",
              "type": "string"
            },
            {
              "id": "dca7b5f1-6498-498c-b70d-32860a1d26e8",
              "name": "event type",
              "value": "={{ $('Code in JavaScript').item.json.event_type }}",
              "type": "string"
            },
            {
              "id": "19706351-9291-454a-be8c-830f09e63039",
              "name": "package name",
              "value": "={{ $('Code in JavaScript').item.json.package_name }}",
              "type": "string"
            },
            {
              "id": "30708291-09d6-44a8-b13b-f4c6194f23ae",
              "name": "phone number",
              "value": "={{ $('Code in JavaScript').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "b50a9738-021c-4434-baa7-74ed32871d16",
              "name": "address",
              "value": "={{ $('Code in JavaScript').item.json.address }}",
              "type": "string"
            },
            {
              "id": "84a9a2af-596a-4083-a50a-aeeef84a016c",
              "name": "request",
              "value": "={{ $('Code in JavaScript').item.json.request }}",
              "type": "string"
            },
            {
              "id": "08e6747c-d836-4a40-9e78-7af457339556",
              "name": "birthday name",
              "value": "={{ $('Code in JavaScript').item.json.baby_name }}",
              "type": "string"
            },
            {
              "id": "7e9dc999-b920-401f-925a-eddbc0547f73",
              "name": "partner name",
              "value": "={{ $('Code in JavaScript').item.json.partner_name }}",
              "type": "string"
            },
            {
              "id": "d03d11f1-9687-49a1-b782-6cb0559541f6",
              "name": "age",
              "value": "={{ $('Code in JavaScript').item.json.turn_age }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        2016
      ],
      "id": "8a15e2a0-72c6-419a-be9c-895af0c5fa74",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "74bf6f16-3527-4654-a2b3-776651e24a3b",
              "leftValue": "={{ $('Create an event').item.json.creator.self }}",
              "rightValue": "confirmed",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        2016
      ],
      "id": "42ee01e5-20ee-410e-8679-170834f29ab1",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI",
          "mode": "list",
          "cachedResultName": "data client",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nama Customer": "={{ $json['customer name'] }}",
            "event_date": "={{ $json['event date'] }}",
            "Address": "={{ $json.address }}",
            "Baby Name": "={{ $json['baby name'] }}",
            "Partners name": "={{ $json['partner name'] }}",
            "optional": "={{ $json.request }}",
            "event id": "={{ $('Create an event').item.json.id }}",
            "phone number ": "={{ $json['phone number'] }}",
            "instance name": "={{ $node[\"Webhook\"].json.body.instance }}",
            "STATUS": "progress",
            "request": "={{ $json.request }}",
            "Tab here": "={{ $('Create an event').item.json.htmlLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nama Customer",
              "displayName": "Nama Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Baby Name",
              "displayName": "Baby Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Partners name",
              "displayName": "Partners name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "optional",
              "displayName": "optional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event id",
              "displayName": "event id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone number ",
              "displayName": "phone number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tab here",
              "displayName": "Tab here",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instance name",
              "displayName": "instance name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        2016
      ],
      "id": "4980dcc9-4de5-4040-b4e2-d408905ad3fb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET\n  intent_lock = false,\n  booking_active = false,\n  step = 'completed',\n  active_intent = NULL,\n  updated_at = NOW()\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1952,
        2000
      ],
      "id": "8d2db591-df5e-4603-bff5-03783fb52b2e",
      "name": "CLEAN INTENT1",
      "credentials": {
        "postgres": {
          "id": "0On6RquQkMdJ942w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_state (phone)\nVALUES ('{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}')\nON CONFLICT (phone) DO NOTHING;\n\nSELECT\n  phone,\n  active_intent,\n  intent_lock,\n  booking_active,\n  step,\n  collected_data\nFROM conversation_state\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4960,
        1872
      ],
      "id": "8a70ecf2-1df7-4bc4-bc2e-c471a657babe",
      "name": "insert4",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "0On6RquQkMdJ942w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -800,
        64
      ],
      "id": "2c073899-56a0-4c64-a2c1-43ef651ee4ff",
      "name": "Limit1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1830ed74-b57f-46f8-963d-9487b8d33431",
              "leftValue": "={{ $('insert4').item.json.active_intent }}",
              "rightValue": "booking_request",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3872,
        2144
      ],
      "id": "5efd5f6c-b29f-4e2d-9e3b-bea955d1ee0c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "743bd58a-5b05-4179-83ef-70240eaef67c",
              "name": "final_intent",
              "value": "={{ $json.output.intent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3616,
        1632
      ],
      "id": "24210928-bdeb-4534-ab7b-0326483861eb",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee72ec1c-2a70-483c-b3dc-003305e59f6d",
              "leftValue": "={{ \n  ['booking_request','complaint','reschedule_event','cancel_booking','availability_check']\n  .includes(($json.final_intent ?? '').toLowerCase().trim())\n}}",
              "rightValue": "=booking_request,complaint,reschedule_event",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2832,
        1632
      ],
      "id": "0e814c14-818c-43b0-969b-4643a880b8c7",
      "name": "Intent booking2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40588d3d-4568-4fec-a1db-4589a8c6d13a",
              "name": "final_intent",
              "value": "={{ $('insert4').item.json.active_intent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3328,
        1968
      ],
      "id": "3ab9ac5c-8254-4613-892a-aeef2f2073e4",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b702921-657e-448d-91a3-3bae1ac91f05",
              "name": "final_intent",
              "value": "={{ $('Edit Fields4').item.json.final_intent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3088,
        1632
      ],
      "id": "89f5e2fa-2aa6-4a45-8b69-c04919a970e7",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fa3f7da-2ab0-4242-9eb5-536cd6ffbdc5",
              "name": "final_intent",
              "value": "={{ $('AI Classiefier').item.json.output.intent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2272,
        1616
      ],
      "id": "f5f0e2e6-7cc3-47e4-bde3-71c332a61f7d",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [];\n}\n\n// Ambil AI output\nconst aiOutput = items[0].json.output ?? {};\nconst aiData = aiOutput.customer_data ?? {};\n\n// Normalisasi agar tidak undefined\nconst result = {\n  event_type: aiData.event_type ?? null,\n  customer_name: aiData.customer_name ?? null,\n  phone_number: aiData.phone_number ?? null,\n  package_name: aiData.package_name ?? null,\n  address: aiData.address ?? null,\n  request: aiData.request ?? null,\n  event_date: aiData.event_date ?? null,\n  baby_name: aiData.baby_name ?? null,\n  baby_photo: null, // memang tidak dari AI\n  partner_name: aiData.partner_names ?? null,\n  birthday_name: aiData.birthday_name ?? null,\n  turn_age: aiData.turn_age ?? null,\n  lock_date: aiData.lock_date ?? null\n};\n\nconsole.log(\"EXTRACTED FROM AI:\", result);\n\nreturn [\n  {\n    json: result\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        2112
      ],
      "id": "3ca099a4-513f-43ae-adf9-d8b174456b19",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "21fa749d-786c-444a-999d-212643f9b39f",
              "leftValue": "={{ $('Booking Handling').item.json.output.ai_reply.next_action }}",
              "rightValue": "booking_completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        2496
      ],
      "id": "a0e81e04-aebf-4e87-a1da-b7d0684c3877",
      "name": "If6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7502262-9aaa-4b4c-9cc6-8813d46c39c4",
              "name": "text",
              "value": "={{ $('Booking Handling').item.json.output.ai_reply.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        2640
      ],
      "id": "0d109f84-a453-44e3-a01c-85267ba1b9e7",
      "name": "text2"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        2640
      ],
      "id": "91674c12-ff1f-4394-81f0-a1098d7a31ac",
      "name": "Delay2",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "={{ $('text2').item.json.text }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1440,
        2640
      ],
      "id": "5c9d9da7-6b00-4d39-888c-847fe73a23ef",
      "name": "Send text8",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "delay": "={{ Math.floor($('text2').item.json.text.split(\" \").length / 3)*1000 + Math.floor(Math.random() * (5 - 2 + 1) + 2)*1000 }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1264,
        2640
      ],
      "id": "f2a6a11d-f965-4697-98d6-2622cf799a2e",
      "name": "Send presence5",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET\n  intent_lock = false,\n  booking_active = false,\n  step = 'completed',\n  active_intent = NULL,\n  updated_at = NOW()\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1632,
        2640
      ],
      "id": "17632303-ca92-41c9-8f20-2821a038443e",
      "name": "CLEAN INTENT2",
      "credentials": {
        "postgres": {
          "id": "0On6RquQkMdJ942w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "putrianastasya744@gmail.com",
          "mode": "list",
          "cachedResultName": "putrianastasya744@gmail.com"
        },
        "eventId": "={{ $json['event id'] }}",
        "useDefaultReminders": false,
        "updateFields": {
          "end": "={{ $('Reschedule Handling').item.json.output.request_date }}",
          "start": "={{ $('Reschedule Handling').item.json.output.request_date }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        752,
        960
      ],
      "id": "28bcb3fa-14ea-4c3f-8b8f-aba5dec67628",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eBzMjgL5dTng5cCU",
          "name": "xxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "={{ $('Reschedule Handling').item.json.output.ai_reply }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1216,
        1616
      ],
      "id": "5b47ed67-89c4-4211-8806-c1de7d67c2ba",
      "name": "Send text9",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "delay": "={{ Math.floor($('Reschedule Handling').item.json.output.ai_reply.split(\" \").length / 3)*1000 + Math.floor(Math.random() * (5 - 2 + 1) + 2)*1000 }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        784,
        1616
      ],
      "id": "f2d774a5-329e-418b-8d49-ee9b3d65588a",
      "name": "Send presence7",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI",
          "mode": "list",
          "cachedResultName": "data client",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nama Customer": "={{ $('Get row(s) in sheet1').item.json['Nama Customer'] }}",
            "event_date": "={{ $('Reschedule Handling').item.json.output.request_date }}",
            "event id": "={{ $('Update an event').item.json.id }}",
            "instance name": "={{ $('Webhook').item.json.body.instance }}"
          },
          "matchingColumns": [
            "Nama Customer"
          ],
          "schema": [
            {
              "id": "Nama Customer",
              "displayName": "Nama Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Baby Name",
              "displayName": "Baby Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Partners name",
              "displayName": "Partners name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "optional",
              "displayName": "optional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event id",
              "displayName": "event id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone number ",
              "displayName": "phone number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tab here",
              "displayName": "Tab here",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instance name",
              "displayName": "instance name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        960
      ],
      "id": "ef979709-a5ab-4eca-92c0-7ec56a4384d4",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET\n  intent_lock = false,\n  booking_active = false,\n  step = 'completed',\n  active_intent = NULL,\n  updated_at = NOW()\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        1616
      ],
      "id": "3e3010c3-7fba-47ee-8016-57f9fb32472e",
      "name": "CLEAN INTENT3",
      "credentials": {
        "postgres": {
          "id": "0On6RquQkMdJ942w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "={{ $('Cancel Handling').item.json.output.ai_reply.message }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1872,
        3120
      ],
      "id": "d0d74c1c-39a1-472f-9650-82070eb3055b",
      "name": "Send text10",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "putrianastasya744@gmail.com",
          "mode": "list",
          "cachedResultName": "putrianastasya744@gmail.com"
        },
        "eventId": "={{ $json['event id'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1376,
        3120
      ],
      "id": "967601e7-8a65-4d11-be3e-e5dee728b041",
      "name": "Delete an event",
      "retryOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eBzMjgL5dTng5cCU",
          "name": "xxx"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        1616
      ],
      "id": "2e966993-ff6b-4147-ae3e-c0b81a7261fe",
      "name": "Wait2",
      "webhookId": "1e534d27-43a1-4161-874f-d412a4b4a6b4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI",
          "mode": "list",
          "cachedResultName": "data client",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Nama Customer": "CANCEL",
            "event_date": "CANCEL",
            "request": "CANCEL",
            "phone number ": "={{ $('Get row(s) in sheet').item.json['phone number '] }}",
            "STATUS": "CANCEL BOOKING",
            "instance name": "={{ $('Get row(s) in sheet').item.json['instance name'] }}",
            "event id": "=cancel"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nama Customer",
              "displayName": "Nama Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Baby Name",
              "displayName": "Baby Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Partners name",
              "displayName": "Partners name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "optional",
              "displayName": "optional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event id",
              "displayName": "event id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone number ",
              "displayName": "phone number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tab here",
              "displayName": "Tab here",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instance name",
              "displayName": "instance name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        3120
      ],
      "id": "330ea4b3-ffd6-41d5-8c8b-e02f5133f6d7",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "74bf6f16-3527-4654-a2b3-776651e24a3b",
              "leftValue": "={{ $('Delete an event').item.json.success }}",
              "rightValue": "confirmed",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        3120
      ],
      "id": "c3a84d00-60b2-4497-9db8-f910395e6f50",
      "name": "If11"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET\n  intent_lock = false,\n  booking_active = false,\n  step = 'completed',\n  active_intent = NULL,\n  updated_at = NOW()\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2512,
        3104
      ],
      "id": "11c1b386-0f76-43ee-a828-8eb682f03be1",
      "name": "CLEAN INTENT5",
      "credentials": {
        "postgres": {
          "id": "0On6RquQkMdJ942w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0bb4a577-48d5-49cd-af98-0346c4283108",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        4896
      ],
      "id": "dd6e33a4-ecc6-4fd4-9959-63150bcf2c76",
      "name": "If3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"customer\": {\n    \"name\": \"\"\n  },\n  \"summary_reason\": \"\",\n  \"ai_reply\": {\n    \"message\": \"\",\n    \"next_action\": \"process | cancellation_confirmed | cancellation_completed\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        192,
        4864
      ],
      "id": "6af03a96-4113-490c-b823-4eb26a1f1cbf",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        32,
        4864
      ],
      "id": "9d45dee3-515e-4794-8892-b4d4aa4a5567",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Y5rm4TXT9mTLIczb",
          "name": "TESTING"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1ffd5cb6-cf6d-4096-94f4-1c064a3348b5",
              "leftValue": "={{ $('Reschedule Handling').item.json.output.next_action }}",
              "rightValue": "reschedule_confirmed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        1104
      ],
      "id": "fec3d34b-84da-4446-84d1-7fc8e8de6e16",
      "name": "LOGIC"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26b02729-469a-4c55-974f-20d6f15e6d3f",
              "name": "next_action",
              "value": "reschedule_completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        960
      ],
      "id": "795d5a50-edc5-4dd1-8cdc-6fbd49e21bf1",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14fa4f7d-d669-4a92-a13d-41aaf1359b65",
              "leftValue": "={{ $('Reschedule Handling').item.json.output.next_action }}",
              "rightValue": "check_in_process",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        1424
      ],
      "id": "848e4536-c789-42d0-96b1-8d6428e3e123",
      "name": "If9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI",
          "mode": "list",
          "cachedResultName": "data client",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nama Customer",
              "lookupValue": "={{ $('Reschedule Handling').item.json.output.customer_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        960
      ],
      "id": "bdd83e8a-3d85-421a-a76d-4e118682e32f",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "=jadwal sudah berhasil kami pindahkan ke tanggal {{ $('Reschedule Handling').item.json.output.request_date }} ya ka\n\ngak perlu di balas ya, kecuali memang masih ada pertanyaan lainnya.",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1264,
        960
      ],
      "id": "2f551f8d-a764-463b-ad3c-7fd43d21fb83",
      "name": "Send text11",
      "credentials": {
        "evolutionApi": {
          "id": "R5yOwgw9SCnmPLUH",
          "name": "xxxxx"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET\n  intent_lock = false,\n  booking_active = false,\n  step = 'completed',\n  active_intent = NULL,\n  updated_at = NOW()\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1472,
        960
      ],
      "id": "41665164-80e8-4cff-a482-dee9b8a726b7",
      "name": "CLEAN INTENT4",
      "credentials": {
        "postgres": {
          "id": "0On6RquQkMdJ942w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55cc000e-a2d5-4322-aa71-2a9bca754b08",
              "leftValue": "={{ $('Cancel Handling').item.json.output.ai_reply.next_action }}",
              "rightValue": "process",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        928,
        3648
      ],
      "id": "2a9e23a3-78fc-487d-a613-0eb4347950e9",
      "name": "If8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7502262-9aaa-4b4c-9cc6-8813d46c39c4",
              "name": "text",
              "value": "={{ $json.output.ai_reply.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        3744
      ],
      "id": "b7e43a59-d553-409e-8831-ea5fae0f42a0",
      "name": "text3"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1472,
        3744
      ],
      "id": "6927430b-def0-4b2b-96a8-bc6a0363181f",
      "name": "Delay3",
      "webhookId": "39cba8b9-40ed-4928-ae1a-e5c64ad4e729"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "messageText": "={{ $('text3').item.json.text }}",
        "options_message": {
          "quoted": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1840,
        3744
      ],
      "id": "1f21eab0-48da-49c7-aa94-54ab83a714f3",
      "name": "Send text12",
      "credentials": {
        "evolutionApi": {
          "id": "hNLgDR4vqDf88t9S",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $node[\"Webhook\"].json.body.instance }}",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
        "delay": "={{ Math.floor($json.text.split(\" \").length / 3)*1000 + Math.floor(Math.random() * (5 - 2 + 1) + 2)*1000 }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1680,
        3744
      ],
      "id": "0261f895-af84-48f7-b6b9-92381d1424b5",
      "name": "Send presence8",
      "credentials": {
        "evolutionApi": {
          "id": "hNLgDR4vqDf88t9S",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET\n  intent_lock = false,\n  booking_active = false,\n  step = 'completed',\n  active_intent = NULL,\n  updated_at = NOW()\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        1344
      ],
      "id": "1ae4cd96-2aee-44e3-8f83-46dddb1e4782",
      "name": "CLEAN INTENT6",
      "credentials": {
        "postgres": {
          "id": "0On6RquQkMdJ942w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1136,
        3120
      ],
      "id": "10f34d2f-f90b-4f17-a691-f4ab9ad16d06",
      "name": "Limit2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message :{{ $node[\"Webhook\"].json.body.data.message.conversation }}\n\ndate: {{ $now.format('yyyy-MM-dd') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# ROLE\n\nYou handle customer complaints for a decoration service.\nReply in WhatsApp style: calm, professional, concise.\n\nGoal:\nResolve issues clearly. Escalate only when necessary.\n\n--------------------------------------------------\n# STATE\n\nAllowed next_action:\n- handling_process\n- cancellation_completed (only if customer cancels service)\n\n--------------------------------------------------\n# COMPLAINT FLOW\n\nAlways:\n1. Acknowledge concern briefly.\n2. Identify the issue.\n3. Provide clear next step.\n\nDo NOT:\n- Blame\n- Admit fault\n- Offer refund/discount\n- Over-apologize\n- Mention internal processes\n\n# ESCALATION RULE\nEscalate ONLY if:\n- service failure\n- repeated unresolved issue\n- refund demand\n- legal threat\n- strong anger\n- customer asks for human\n\nIf escalating:\n- Ask for:\n  1. customer name\n  2. address\n  3. phone number\n- Before escalation, summarize:\n  - name\n  - address\n  - phone\n  - complaint issue\n\n\n# MESSAGE CONTROL\nIf customer sends multiple short messages:\n- Ask them to send complete info in one message.\n- Say requests are handled one at a time.\n- Ask them to wait for reply.\n- Keep it short.\n- No technical terms.\n\n# OUTPUT RULES\n- Return valid JSON only.\n- No text outside JSON.\n- No markdown.\n- All fields must exist.\n- Never return null.\n- Convert extracted text to lowercase.\n- Do not overwrite existing valid name.\n\n# OUTPUT FORMAT\n\n{\n  \"customer\": {\n    \"name\": \"\"\n  },\n  \"summary_reason\": \"\",\n  \"ai_reply\": {\n    \"message\": \"\",\n    \"next_action\": \"handling_process | cancellation_completed\"\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        4720
      ],
      "id": "78d26694-fc65-4c52-9347-2a8ae2c271b0",
      "name": "Complain Handling"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message:{{ $json.Message }}\n\nCurrent time: {{  $now.format( 'dd/ll/yyyy') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# ROLE\nYou are a friendly and professional customer service assistant handling booking cancellation requests.Your goal safely confirm cancellation while collecting required information in correct order.\nBefore you set cancelattion_confirmed, you must ask customer name when it's provided you should lock customer name.\n\n# STATE MACHINE\nAllowed next_action values:\nUse:\nprocess when:\n- customer name not provided yet\n- cancellation reason not provided yet\n- still collecting required information\n\n\ncancellation_confirmed when:\n- customer name is locked\n- cancellation reason collected\n- customer informed:\n  • no refund\n  • service will be stopped\n- you have asked:\n  \"do you want to continue with the cancellation?\"\n- waiting for customer confirmation\n- Asking for clarify to customer if they still want to cancel booking\n\ncancellation_completed.\n- customer name is locked\n- cancellation reason locked\n- customer explicitly confirms (yes / agree / continue)\n- event deletion in CRM finished\n\n# CONVERSATION CONTROL\nIf customer sends multiple short messages:\n- Politely ask them to send complete information in one message.\n- Inform requests are handled one at a time.\n- Ask them to wait for a reply before sending another message.\n- Keep it short and friendly.\n- Never mention technical terms (system, api, webhook, automation, processing).\n\n# TONE RULES\n- Friendly\n- Reassuring\n- Simple and concise\n- Natural human tone\n- No robotic responses\n- Minimize tokens without losing clarity\n\n# DATA RULES\n- Convert all extracted text to lowercase before processing.\n- Never erase previously collected valid data.\n- Never return null.\n- All fields must exist.\n- Always return valid JSON only.\n- No explanations.\n- No markdown.\n- No text outside JSON.\n\n# REQUIRED OUTPUT FORMAT\n\n{\n  \"customer\": {\n    \"name\": \"\"\n  },\n  \"summary_reason\": \"\",\n  \"ai_reply\": {\n    \"message\": \"\",\n    \"next_action\": \"process | cancellation_confirmed | cancellation_completed\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -64,
        3264
      ],
      "id": "b037feb0-ce66-489a-879e-0f969b1bbdb4",
      "name": "Cancel Handling",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message:{{ $('Clean Data').item.json.Message }}\n\nDate: {{ $now.format('yyyy-MM-dd') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# SYSTEM ROLE\nYou are Thesyah, the upbeat and friendly AI customer support for Thesyah decoration. You handle availability checks, booking creation, using Google Calendar.\n\nIf customer mention event date not very clearly, ask for clarrity before using 'Get events' on google calendar.\n\n## CONVERSATION FLOW RULE\n- if customer sends multiple short messages in a row, gently remind them to send complete information in one message.\n- Inform the customer that the system processes one request at a time.\n- Ask them to wait for a response before sending another message.\n- Keep the reminder friendly and concise.\n- Never mention technical terms like system, webhook, API, processing, or automation.\n\n## TOOLS\n- GET EVENTS : Must always use this tool to check avaibility date after customer mention their event date.\n\n\n** AVAILABILITY RULE (GET EVENTS REQUIRED) ** \n- Slot < 2 → date can be booked → inform politely\n- Slot ≥ 2 → date full → offer alternatives\n- Never imply availability without checking\n\n## TONE & STYLE GUIDELINES\n- Start conversations with a cheerful greeting them if ONLY you haven't had conversation with customer for the first time and use conversational Indonesian\n- Simple, clear, concise\n- Adapt to customer mood\n- Non-robotic, non-template\n- Minimize output tokens while maintaining helpfulness, quality, and accuracy\n\n## GENERAL RULES (STRICT)\n1. ALWAYS use Google calendar 'GET EVENTS' to check availability BEFORE asking for full booking details and before any booking action\n2. Never assume availability\n3. Never ASK about specific event time\n4. If message is unclear ask for clarity\n5. Do not mention internal system terms\n6. Never guess or assume an event date or year\n7. Words like “tomorrow”, “the day after”, “next week”, or “next month” are NOT valid dates by themselves. You must ask the customer to confirm the exact date and year.\n\n## IMPORTANT\n- IF customer mentions event date AND date is available,\n- THEN lock_date = \"YYYY-MM-DD\"\n- ELSE lock_date = \"\" \n- You MUST only set next_action into 'booking_confirmed' only if the customer's message explicitly contains all of the following required fields like customer name,date of the event,the address,package name,phone number,type of event (all the format booking based on type event). Do not repeat the same next_action value consecutively in the conversation flow\n\n## SUPPORTED ACTIONS\n1. Check availability\n2. Create booking\n\nHere is format booking you SHOULD follow. DO NOT ever change iT.Do not send format booking separately. You must include all the require based on event type. Do not hallucination you MUST follow this format below.\n\n1. Customer name :\n2. Phone Number :\n3. Baby's name :\n4. Package name :\n5. Event Date :\n6. Address :\n7. Request : \n8. Baby photo MUST be requested conversationally\nbut MUST NOT block JSON completion.\n\n## Engagement\n1. Customer name :\n2. Phone Number :\n3. Partner name :\n4. Package name :\n5. Address :\n6. Phone number :\n7. Request :\n8. Event date :\n\n## Birthday\n1. Customer name :\n2. Package Name :\n3. Birthday name\n4. Turn Age :\n5. Address :\n6. Request :\n7. Event date :\n\n## Collected customer data\n- You must always extract/collecting \n1.Customer name\n2.Event type\n3.Event date\n4.Package name\n5.The address of the customer\n6.Request (only when customer explicity)\n7.Baby name (only for aqiqah or birthday)\n8.Partner name (only for engagement)\n9.Phone number\n\n## Instruction\n- When customer mention the date of the event not very cleary, you MUST ask clarrificcation date  of the event when it's needed before you use 'GET EVENTS' to check avaibility date.\n- partner_names must be provided when event_type is engagement or wedding\n- baby_name must be provided when event_type is aqiqah\n- Do not hallucinate missing names\n- Convert all text to lowercase before extracting/collecting\n- You MUST lock customer data after you extracting/collecting\n- After you set booking_confirmed ,politely inform the customer that \nh-1 we will set the decoration at their address, about the time maybe in the afternoon or night depends on our rute, we will let them know later.\n\n## OUTPUT RULE (VERY IMPORTANT)\n- ALWAYS respond in VALID JSON\n- DO NOT include any text outside JSON\n- Fill the JSON fields according to the schema provided.\n- Do NOT add, remove, or rename fields.\n- Do NOT include explanations, markdown, or text outside JSON.\n- If a field is not mentioned by the customer, leave it as an empty string \"\".\n- All fields MUST exist\n- Dates MUST be ISO format: YYYY-MM-DD. If customer send the date like this 3/1/2026, you always MUST turn into 2026-1-3 \n- MUST turn the json feild.\n- ✅ Boolean must be true | false (never \"yes\", \"ok\", \"fix\")\n\n\nOUTPUT SCHEMA (MUST MATCH EXACTLY):\n\n{\n  \"intent\": {\n    \"booking_approved\": false\n  },\n  \"customer_data\": {\n    \"customer_name\": \"\",\n    \"event_type\": \"\",\n    \"event_date\": \"\",\n    \"package_name\": \"\",\n    \"address\": \"\",\n    \"request\": \"\",\n    \"baby_name\": \"\",\n    \"partner_names\": \"\",\n    \"phone_number\": \"\",\n    \"lock_date\": \"\"\n  },\n  \"ai_reply\": {\n    \"message\": \"\",\n    \"next_action\": \"ready_for_booking | booking_confirmed | booking_completed\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -144,
        2112
      ],
      "id": "51787d94-73f8-4dab-a00e-853b68be0d71",
      "name": "Booking Handling",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message:{{ $json.Message }}\n\nCurrent time: {{ $now.format('yyyy-MM-dd') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# SYSTEM ROLE\nYou are Thesyah, a friendly, upbeat, and professional assistant helping customers reschedule their decoration event using Google Calendar.Your primary tasks to safely and accurately reschedule the customer’s event date. Before you set reschedule_confirmed, you must ask customer name when it's provided you should lock customer name.\n\nYou MUST strictly follow availability validation before confirming any reschedule.\n\n# CORE AVAILABILITY RULE (MANDATORY)\nBefore setting next_action to \"reschedule_confirmed\":\n1. You MUST call \"Get Events\" to check availability for the requested date.\n2. Apply slot logic:\n   - If slot count < 2 → date is available → success = true\n   - If slot count ≥ 2 → date is full → success = false\n3. NEVER assume availability without checking.\n4. If customer already provided a date, you MUST NEVER change request_date to empty or null.\n\n--------------------------------------------------\n# CONVERSATION FLOW RULE\nIf customer sends multiple short messages in a row:\n- Politely remind them to send complete information in one message.\n- Inform them that requests are handled one at a time.\n- Ask them to wait for a reply before sending additional messages.\n- Keep it friendly and concise.\n- NEVER mention technical terms (system, webhook, api, automation, processing).\n\n# REQUIRED TOOL\n- Get Events → used ONLY to check date availability\n\n# REQUIRED OUTPUT STRUCTURE\n- You MUST ALWAYS return valid JSON.\n- No text outside JSON.\n- No markdown.\n- No explanations.\n\nAll fields are must REQUIRED.\n\n{\n  \"customer_name\": \"\",\n  \"request_date\": \"\",\n  \"success\": false,\n  \"next_action\": \"check_in_process | reschedule_confirmed | reschedule_completed\",\n  \"ai_reply\": \"\"\n}\n\n# FIELD RULES\n1. customer_name\n- Must ask for name if not provided.\n- Never overwrite if already given.\n2. request_date\n- Extract requested date.\n- Convert to ISO format: YYYY-MM-DD\n- Example:\n  3/1/2026 → 2026-01-03\n- If unclear or missing → \"\"\n3. success\n- true → date available (after Get Events check)\n- false → date full OR not yet checked\n4. next_action\n- check_in_process\n  Use when:\n  - Name missing\n  - Date missing\n  - Still collecting information\n  - Availability not checked yet\n- reschedule_confirmed\n  Use ONLY when:\n  - customer_name exists\n  - request_date exists\n  - Get Events already called\n  - Slot < 2\n  - success = true\n- reschedule_completed\n  NEVER use\n\n5. ai_reply\n- Concise, Friendly, Human tone, No technical wording\n\n# ADDITIONAL STRICT RULES\n- Convert all extracted text to lowercase before processing.\n- Never return empty values if already provided.\n- Never change a valid request_date to empty.\n- Never return null.\n- Never skip required fields.\n- Never output anything outside JSON.\n- Dates MUST be formatted exactly YYYY-MM-DD.\n- Always preserve previously collected valid information.\n- Minimize output tokens while maintaining clarity and accuracy.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -128,
        1104
      ],
      "id": "ffe1ba0e-feac-4070-8730-577dfd105ab8",
      "name": "Reschedule Handling",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message:{{ $('Clean Data4').item.json.Message }}\n",
        "options": {
          "systemMessage": "=## SYSTEM ROLE\n\nYou are Thesyah, the upbeat and friendly AI customer support for Thesyah decoration.Your main role is to help customers understand products, answer inquiries, and provide suitable decoration suggestions based on their event needs. Ask what type of decoration are they looking,and their name ONLY if they haven't mentioned it. If Customer Ask about PRICE use Google Sheets to give the pricelist. Only if they ASK. Do not MAKE UP any information from  \"Google Sheets\". Do not PROMISE that you already set up their date in our system, it is NOT your job. if They want to booking,you MUST inform customer that you will send format booking to them to fill. And  just simply say \"i wanna booking\".\n\n## Rules when to use \"Google Sheets\" to give pricelist decoration\n\n- Send the pricelist. Based on customer's event. do not send all the sheets information\n- When customer ask aqiqah price. Send price aqiqah in sheets name \"aqiqah package list\"\n- When customer ask lamaran/engagement. Send price engagement/lamaran in sheets name \"engagement/package list\"\n- When customer ask birthday price. Send birtday price  in sheets name \"Birthday package list\"\n- Never send all those information. Only choose pricelist from the event.\n\n\n## CORE RESPONSIBILITIES\n\n1. Understand customer messages even if they use simple or informal words\n2. Respond based on what the customer asks or needs\n3. Help with:\n- Product explanation\n- Decoration suggestions\n- Event-related inquiries\n- Ask for clarification only if the message is unclear or incomplete\n- Never **promise** or imply that a booking slot is already secured\n\n## IMPORTANT\n\n- Read the conversation history carefully. Follow-up questions about what you just discussed. Use context to understand what they're asking about\n- You SHOULD minimize output tokens as much as possible while maintaining helpfulness, quality, and accuracy\n\n## TONE & STYLE GUIDELINES\n\n- Speak naturally, politely, and conversationally.\n- Do not sound robotic or overly formal.\n- Adapt your tone based on the user's mood.\n- Use simple, everyday Indonesian.\n- Avoid repetitive sentence patterns and template  responses\n- Clear and concise\n- Respond like a real customer service person\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        80,
        64
      ],
      "id": "92e8479c-169e-4d9e-b22c-d1e6135c92d5",
      "name": "General"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=text:{{ $node[\"Webhook\"].json.body.data.message.conversation }}\n\ndate : {{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Overview\n\nYou are an AI text classifier for decoration service\n(Aqiqah, Wedding, Birthday, Engagement).\n\nYour task:\n- Classify the user's message \n- Return ONE intent only (never multiple)\n- Use ONLY the allowed intent values\n- Handle short, informal, mixed-language WhatsApp messages\n- Output valid JSON only\n- Do NOT reply to the customer\n- Do NOT add explanations or extra text\n- If the intent is unclear, use \"general_question\"\n- If the customer say they wanna talk to the owner the intent SHOULD turns complaint.\n- If customer send format booking contains their name,address,event type,event date, explanations or instructions, turns intent BOOKING_REQUEST. \n- NEVER ever let intent turn empty/null.\n\nAttention\n- partner_names must be provided when event_type is engagement or wedding\n- baby_name must be provided when event_type is aqiqah\n- Do not hallucinate missing names\n- Convert all text to lowercase before extracting\n- NEVER let intent as null/empty. Must Always exist\n\nAllowed intents (ENUM):\n- product_inquiry\n- availability_check\n- booking_request\n- reschedule_event\n- cancel_booking\n- complaint\n- general_question\n\nUrgency rules:\n- High: complaint, cancel, angry tone, \"segera\", \"urgent\"\n- Medium: booking, availability, Reschdule date, cancel booking\n- Low: product inquiry, general questions\n\n\nOutput format (STRICT):\n\n{\n  \"intent\": \"string\",\n  \"event_type\": \"string | null\",\n  \"event_date\": \"YYYY-MM-DD | null\",\n  \"client_name\": \"string | null\",\n  \"package_name\": \"string | null\",\n  \"partner_names\": \"string\",\n  \"baby_name\": \"string | null\",\n  \"urgency\": \"low | medium | high\",\n  \"confidence\": 0.0\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4032,
        1632
      ],
      "id": "64393d3d-491f-4415-ad46-9ec6e99e664b",
      "name": "AI Classiefier"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "=6285256162331",
        "messageText": "={{ $json.Summary }}",
        "options_message": {
          "quoted": {},
          "mentions": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1104,
        4512
      ],
      "id": "c6229a9e-ba8d-495d-99a5-1ff883a433dc",
      "name": "Reply",
      "credentials": {
        "evolutionApi": {
          "id": "hNLgDR4vqDf88t9S",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "=6285256162331",
        "messageText": "={{ $json.Summary }}",
        "options_message": {
          "quoted": {},
          "mentions": {}
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1280,
        4512
      ],
      "id": "9cded76a-64bc-4f14-9566-2f706ca1156b",
      "name": "Human notify",
      "credentials": {
        "evolutionApi": {
          "id": "hNLgDR4vqDf88t9S",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET\n  intent_lock = false,\n  booking_active = false,\n  step = 'completed',\n  active_intent = NULL,\n  updated_at = NOW()\nWHERE phone = '{{ $node[\"Webhook\"].json.body.data.key.remoteJid }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        4512
      ],
      "id": "335fe1d5-8d3a-42a9-a34d-62c546298efa",
      "name": "CLEAN INTENT",
      "credentials": {
        "postgres": {
          "id": "YoSdoN8yhfp0ZOph",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Take an Action",
        "height": 320,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        3232
      ],
      "typeVersion": 1,
      "id": "eee0a574-f57c-46ef-b6a3-26bfbfff5a6e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## AI Take an Action",
        "height": 320,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        2064
      ],
      "typeVersion": 1,
      "id": "1c7b7218-3e40-4a91-ac93-268c057896f6",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "putrianastasya744@gmail.com",
          "mode": "list",
          "cachedResultName": "putrianastasya744@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `to check avaibility date`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -112,
        2256
      ],
      "id": "328ef84b-3064-4240-806a-301aced40cff",
      "name": "Check availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eBzMjgL5dTng5cCU",
          "name": "xxx"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Take an Action",
        "height": 320,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        1056
      ],
      "typeVersion": 1,
      "id": "07072fde-c165-43ca-bb17-2667da7871f2",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## AI Take an Action",
        "height": 320,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4144,
        1584
      ],
      "typeVersion": 1,
      "id": "31dabdba-cc8e-4bb7-99fd-e93a9c50fdd1",
      "name": "Sticky Note15"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.konsultankuai.site",
            "user-agent": "axios/1.13.2",
            "content-length": "1483",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.konsultankuai.site",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "8b298f5e679f",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "admin",
            "data": {
              "key": {
                "remoteJid": "6285184516184@s.whatsapp.net",
                "remoteJidAlt": "6285184516184@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB00530BBE3DF57408A11",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Tasya",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "halo ka,",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 93,
                      "1": 88,
                      "2": 79,
                      "3": 120,
                      "4": 134,
                      "5": 212,
                      "6": 15,
                      "7": 30,
                      "8": 81,
                      "9": 58
                    },
                    "senderTimestamp": {
                      "low": 1772601827,
                      "high": 0,
                      "unsigned": true
                    },
                    "senderAccountType": 0,
                    "receiverAccountType": 0,
                    "recipientKeyHash": {
                      "0": 130,
                      "1": 83,
                      "2": 232,
                      "3": 72,
                      "4": 22,
                      "5": 99,
                      "6": 154,
                      "7": 107,
                      "8": 175,
                      "9": 78
                    },
                    "recipientTimestamp": {
                      "low": 1771068892,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 78,
                    "1": 186,
                    "2": 27,
                    "3": 211,
                    "4": 141,
                    "5": 139,
                    "6": 69,
                    "7": 138,
                    "8": 238,
                    "9": 147,
                    "10": 176,
                    "11": 49,
                    "12": 247,
                    "13": 112,
                    "14": 243,
                    "15": 248,
                    "16": 4,
                    "17": 209,
                    "18": 70,
                    "19": 108,
                    "20": 52,
                    "21": 223,
                    "22": 31,
                    "23": 8,
                    "24": 145,
                    "25": 26,
                    "26": 71,
                    "27": 168,
                    "28": 174,
                    "29": 144,
                    "30": 250,
                    "31": 120
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1772633555,
              "instanceId": "80ae7ac0-d5f0-4689-99a4-c208ae80ae92",
              "source": "web"
            },
            "destination": "https://n8n.konsultankuai.site/webhook/077693EA84A2-4B74-A39B-66D8C7B7AC55",
            "date_time": "2026-03-04T11:12:35.381Z",
            "sender": "6282125331691@s.whatsapp.net",
            "server_url": "https://konsultankuai.site",
            "apikey": "077693EA84A2-4B74-A39B-66D8C7B7AC55"
          },
          "webhookUrl": "https://n8n.konsultankuai.site/webhook/077693EA84A2-4B74-A39B-66D8C7B7AC55",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Reschedule Handling": [
      {
        "json": {
          "output": {
            "customer_name": "hanifa",
            "request_date": "2026-03-17",
            "success": true,
            "next_action": "reschedule_confirmed",
            "ai_reply": "Tanggal 17 Maret 2026 tersedia untuk dekorasi aqiqah. Saya sudah mengganti tanggal reservasi untuk Hanifa ke tanggal tersebut. Terima kasih!"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OPENAI 4.1 MINI1": {
      "ai_languageModel": [
        [
          {
            "node": "Reschedule Handling",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Cancel Handling",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Booking Handling",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Booking Handling",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Send presence6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "Mark messages as read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ouput Intent": {
      "ai_outputParser": [
        [
          {
            "node": "AI Classiefier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "text": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "Mark messages as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send presence1": {
      "main": [
        [
          {
            "node": "Send text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aqiqah Price": {
      "ai_tool": [
        [
          {
            "node": "General",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Birthday Price": {
      "ai_tool": [
        [
          {
            "node": "General",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send presence1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Engagement": {
      "ai_tool": [
        [
          {
            "node": "General",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "Send presence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 flash": {
      "ai_languageModel": [
        [
          {
            "node": "General",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Booking Handling",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Booking Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "General",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Cancel Handling",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Reschedule Handling",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Booking Handling",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logical number": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logical Intent": {
      "main": [
        [
          {
            "node": "AI Classiefier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "classfy": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send presence4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Cancel Handling",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send text5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send text10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "Mark messages as read5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text3": {
      "main": [
        [
          {
            "node": "CLEAN INTENT6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data1": {
      "main": [
        [
          {
            "node": "Reschedule Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "Mark messages as read4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark messages as read4": {
      "main": [
        [
          {
            "node": "Clean Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data3": {
      "main": [
        [
          {
            "node": "Cancel Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "logical number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark messages as read2": {
      "main": [
        [
          {
            "node": "General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "insert4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data4": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send presence4": {
      "main": [
        [
          {
            "node": "Send text3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark messages as read": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark messages as read5": {
      "main": [
        [
          {
            "node": "Clean Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send presence": {
      "main": [
        [
          {
            "node": "Send text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classiefier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Mark messages as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark messages as read1": {
      "main": [
        [
          {
            "node": "Clean Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data2": {
      "main": [
        [
          {
            "node": "Complain Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send presence6": {
      "main": [
        [
          {
            "node": "Send text4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET": {
      "ai_tool": [
        [
          {
            "node": "Reschedule Handling",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "Reschedule Handling",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACTIVE INTENT": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text1": {
      "main": [
        [
          {
            "node": "Delay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay1": {
      "main": [
        [
          {
            "node": "Send presence3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send presence3": {
      "main": [
        [
          {
            "node": "Send text7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text5": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "CLEAN INTENT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert4": {
      "main": [
        [
          {
            "node": "Logical Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Clean Data4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "ACTIVE INTENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "classfy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent booking2": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "classfy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Intent booking2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "classfy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text2": {
      "main": [
        [
          {
            "node": "Delay2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay2": {
      "main": [
        [
          {
            "node": "Send presence5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send presence5": {
      "main": [
        [
          {
            "node": "Send text8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text8": {
      "main": [
        [
          {
            "node": "CLEAN INTENT2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send presence7": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text9": {
      "main": [
        [
          {
            "node": "CLEAN INTENT3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Send text9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text10": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "CLEAN INTENT5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text4": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Complain Handling",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Complain Handling",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LOGIC": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Send text11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send presence7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text11": {
      "main": [
        [
          {
            "node": "CLEAN INTENT4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text3": {
      "main": [
        [
          {
            "node": "Delay3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay3": {
      "main": [
        [
          {
            "node": "Send presence8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send presence8": {
      "main": [
        [
          {
            "node": "Send text12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complain Handling": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Handling": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Handling": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Handling": {
      "main": [
        [
          {
            "node": "LOGIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classiefier": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply": {
      "main": [
        [
          {
            "node": "Human notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human notify": {
      "main": [
        [
          {
            "node": "CLEAN INTENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check availability": {
      "ai_tool": [
        [
          {
            "node": "Booking Handling",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a8182518-a418-4e87-ad62-29a0d90eeac5",
  "meta": {
    "instanceId": "d116f3594dbf6b384631074cdaaa1e1e41d1ad0872ff7198ae0b471a179e9d44"
  },
  "id": "RQ0w8cyrtulSUAhe",
  "tags": []
}
