n8n/workflow follow up (reminder). json

{
  "name": "FOLLLOW UP CUSTOMER DEKOR",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -32
      ],
      "id": "e066567f-9fb5-417d-9504-0731f8cdca88",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8f531ac4-9c4c-4298-84c2-3ed94633f11e",
              "leftValue": "={{ $json.event_date }}",
              "rightValue": "={{ \n  Math.floor(\n    (new Date($json.event_date).setHours(0,0,0,0) - new Date().setHours(0,0,0,0)) \n    / (1000 * 60 * 60 * 24)\n  ) === 1\n}}\n",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        -16
      ],
      "id": "9170ac87-9ab2-469c-bcc3-676a6482badf",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI",
          "mode": "list",
          "cachedResultName": "data client",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "PROGRESS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -32
      ],
      "id": "a02e2bd2-7d0e-4b39-a791-e19961f1bf7e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16389fbf-8183-49f7-b7e2-b7aa688e5376",
              "name": "CUSTOMER NAME",
              "value": "={{ $('Get row(s) in sheet').item.json['Nama Customer'] }}",
              "type": "string"
            },
            {
              "id": "3863701a-5f4c-4975-8ab8-845b744f1089",
              "name": "ADDRESS",
              "value": "={{ $('Get row(s) in sheet').item.json.Address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        224
      ],
      "id": "3d0a85b2-7b94-4a32-bba0-a628824e0221",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $('Get row(s) in sheet').item.json['instance name'] }}",
        "remoteJid": "=+62{{ $('Get row(s) in sheet').item.json['phone number '] }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -96,
        224
      ],
      "id": "506578fe-933b-4e9a-b7ed-86dc61175c5c",
      "name": "Send presence",
      "credentials": {
        "evolutionApi": {
          "id": "ywHhnAsPqd9GQF7F",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Get row(s) in sheet').item.json['instance name'] }}",
        "remoteJid": "=+62{{ $('Get row(s) in sheet').item.json['phone number '] }}",
        "messageText": "=Hallo kak {{ $('Edit Fields').item.json['CUSTOMER NAME'] }}, mau konfirmasi mengenai dekor nya kita hari ini dekornya insyallah sore atau malam ya tergantung rute kami.\n\nMohon menunggu ya kak {{ $('Edit Fields').item.json['CUSTOMER NAME'] }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "6ad06aa8-45e9-4378-be2d-677f70c3ac14",
      "name": "Send text",
      "credentials": {
        "evolutionApi": {
          "id": "ywHhnAsPqd9GQF7F",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        -32
      ],
      "id": "871d273a-1a19-47b2-aa06-eb027f9e7c1a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI",
          "mode": "list",
          "cachedResultName": "data client",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15vrJCN45HVMnguxV9f-zdTL2Nqg_RGeEfxmykcC14hI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "N0": "={{ $('Get row(s) in sheet').item.json.N0 }}",
            "STATUS": "CONFIRMED"
          },
          "matchingColumns": [
            "N0"
          ],
          "schema": [
            {
              "id": "N0",
              "displayName": "N0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama Customer",
              "displayName": "Nama Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Baby Name",
              "displayName": "Baby Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Partners name",
              "displayName": "Partners name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "optional",
              "displayName": "optional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event id",
              "displayName": "event id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keterangan",
              "displayName": "Keterangan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone number ",
              "displayName": "phone number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instance name",
              "displayName": "instance name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        224
      ],
      "id": "0c95c32e-b33e-4e21-9096-979f5de0471b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqkqDRrj8QaHHxQ0",
          "name": "xxxxxx"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send presence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send presence": {
      "main": [
        [
          {
            "node": "Send text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "94a191bb-09b0-4b9b-be9a-e91077bb43dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d116f3594dbf6b384631074cdaaa1e1e41d1ad0872ff7198ae0b471a179e9d44"
  },
  "id": "sAFgSSRa1PHSx52l",
  "tags": []
}
